.sobreMi{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.text-presentacion, .title {
    margin-left: 2rem;
    margin-right: 2rem;
}

.p-presentacion {
    width: 100%;
    text-align: justify;
    font-size: 1.7rem;
    font-family: 'Roboto';
}