.sobreMi{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.text-presentacion, .title-about {
    margin-left: 2rem;
    margin-right: 2rem;
}
.title-about{
    font-size: 4rem;
    font-family: 'Roboto';
    animation: moveLeft 3s infinite alternate;
}

@keyframes moveLeft {
    from {
        transform: translateX(100px);
        color: rgb(91, 5, 95);
    }
   to {
        transform: translateX(-15px);
        color: black;
    } 
}

.p-presentacion {
    width: 100%;
    text-align: justify;
    font-size: 1.7rem;
    font-family: 'Roboto';
    color: white;
}