.sobreMi{ 
    background-color: rgba(91, 5, 95, 0.396);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-presentacion, .title-about {
    margin-left: 2rem;
    margin-right: 2rem;
}
.title-about{
    font-size: 4rem;
    font-family: 'Roboto';
    color: white;
   
}

.p-presentacion {
    width: 100%;
    text-align: justify;
    font-size: 1.7rem;
    font-family: 'Roboto';
    color: white;
}