body {
    width: 100%;
    height: screen;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.form-contact {
    justify-content: center;
    width: 60%;
    background-color: rgba(123, 68, 150, 0.427);
    border-radius: 3rem;
    margin: 6rem;
    margin-left: 25rem;
    padding: 4rem;
}

.title-contact {
    color: white;
    font-family: 'Roboto';
    padding: 1rem;
    font-size: 4rem;
    text-align: center;
}

.p-contact {
    color: white;
    text-align: ce;
    margin-left: 6rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-family: 'Roboto';
}

.p-contact:hover {
    font-weight: bolder;
    text-align: center;
    transform: scale(1.5);
    color: rgb(130, 130, 130);
}

.label-contact {
    color: white;
    text-align: left;
    text-decoration: underline;
    margin-left: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-family: 'Roboto';
}

.input-comentarios {
    margin: 1rem;
    width: 95%;
    height: 10rem;
    padding: 0.5rem;
}

.div-submit {
    text-align: center;
    margin: 2rem;
}

.button-submit {
    width: 8rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto';
    border-radius: 1rem;
}

.button-submit:hover {
    text-transform: uppercase;
    background-color: rgb(7, 7, 7);
    color: white;
    border: 0.5rem solid white;
}