body {
    width: 100%;
    height: screen;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.form-contact {
    justify-content: center;
    width: 60%;
    background-color: rgba(123, 68, 150, 0.427);
    border-radius: 3rem;
    margin: 6rem;
    margin-left: 25rem;
    padding: 4rem;
}

.title-contact {
    color: white;
    font-family: 'Roboto';
    padding: 1rem;
    font-size: 4rem;
    text-align: center;
}

.p-contact {
    color: white;
    text-align: ce;
    margin-left: 6rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-family: 'Roboto';
}

.p-contact:hover {
    font-weight: bolder;
    text-align: center;
    transform: scale(1.5);
    color: rgb(130, 130, 130);
}

.label-contact {
    color: white;
    text-align: left;
    text-decoration: underline;
    margin-left: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-family: 'Roboto';
}
@media screen and (max-width: 1080px) {

    body {
        flex-direction: row;
    }

    .form-contact {
        width: 70%;
        background-color: rgba(2, 8, 77, 0.396);;
        margin-left: 6rem;
        padding: 2rem;
    }

    .title-contact {
        font-size: 3rem;
    }

    .p-contact {
        font-size: 1rem;
        margin-left: 3rem;
    }

    .p-contact:hover {
        transform: scale(1.25);       
    }

    .label-contact {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

}
@media screen and (max-width: 600px) {

    body {
        flex-direction: row;
    }

    .form-contact {
        width: 70%;
        background-color: rgba(36, 94, 3, 0.557);
        margin-left: 6rem;
        padding: 2rem;
    }

    .title-contact {
        font-size: 3rem;
    }

    .p-contact {
        font-size: 1rem;
        margin-left: 3rem;
    }

    .p-contact:hover {
        transform: scale(1.25);       
    }

    .label-contact {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

}