.titleGral {
    text-align: center;
    font-size: 5rem;
    font-family: 'Roboto';
    color: white;
}

.docente,
.desarrolladora {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.div-title {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 4rem;
    color: white;
    font-family: 'Roboto';
}

.cursos {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card {
    width: 20%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: rgba(133, 130, 130, 0.448);
    border-radius: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card-date {
    color: white;
    width: 90%;
    height: 70%;
    margin-top: 10px;
    padding: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: 'Roboto';
}

.card-button {
    margin-bottom: 2rem;
}

.button-estudios {
    text-align: center;
    color: white;
    background-color: rgba(105, 5, 155, 0.353);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem;
}

.button-estudios:hover {
    color: rgb(105, 5, 155);
    background-color: rgba(255, 255, 255, 0.437);
    box-shadow: 0.25rem 0.25rem 0 0;
}
@media screen and (max-width: 1080px) {
    .titleGral {
        font-size: 3rem;
    }

    .title {
        font-size: 2rem;
    }

    .cursos {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 50%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        border-radius: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .button-estudios {
        background-color: rgba(2, 8, 77, 0.396);
        border-radius: 2rem;
        font-size: 0.75rem;
    }

    .button-estudios:hover {
        color: rgba(2, 8, 77, 0.396);
        background-color: rgba(255, 255, 255, 0.437);
        box-shadow: 0;
    }
}

@media screen and (max-width: 600px) {
    .titleGral {
        font-size: 3rem;
    }

    .title {
        font-size: 2rem;
    }

    .cursos {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 50%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        border-radius: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .button-estudios {
        background-color: rgba(33, 97, 3, 0.542);
        border-radius: 2rem;
        font-size: 0.75rem;
    }

    .button-estudios:hover {
        color: rgba(33, 97, 3, 0.542);
        background-color: rgba(255, 255, 255, 0.437);
        box-shadow: 0;
    }
}