.footer {
    display: flex;
    width: 100%;
}

.div-footer {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 4rem;
}

.p-footer {
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.3rem;
    color: white;
    transition: font-size 0.5s ease;
}
.p-footer:hover{
    font-size: 1.5rem;
}
