.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img {
    width: 40%;
    justify-content: center;
    margin: 0.75rem;
    border-radius: 1rem;
}

.img-propia {
    width: 85%;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    border-radius: 14rem;
}

.about {
    width: 60%;
    justify-content: right;
    margin: 0.75rem;
    padding: 0.5rem;
    border-radius: 1rem;
}
@media screen and (max-width: 1080px){
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 40%;
        align-content: center;
    }

    .img-propia {
        width: 65%;
        align-content: center;
    }

    .about {
        width: 85%;
        text-align: justify;
        margin: 0.75rem;
        padding: 0.5rem;
        border-radius: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img {
        width: 40%;
    }

    .img-propia {
        width: 65%;
        align-content: center;
    }

    .about {
        width: 85%;
        text-align: justify;
        margin: 0.75rem;
        padding: 0.5rem;
        border-radius: 1rem;
    }

}