
body{
background-color: rgb(44, 43, 43);
}
.intro {
    width: 100%;
    height: screen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-intro {
    align-items: center;
    margin-left: 1rem;
    width: 70%;
    background-color: rgba(65, 118, 51, 0.62);
    border-radius: 2rem;
    box-shadow: 1rem 1rem 0rem 0rem rgba(143, 141, 141, 0.429);
}

.title-intro {
    text-align: center;
    font-family: 'Roboto';
    font-size: 6.5rem;
    animation: moveLeft 3s infinite alternate;
}

@keyframes moveLeft {
    from {
        transform: translateX(150px);
        color: rgb(10, 10, 10);
    }

    to {
        transform: translateY(-5px);
        color: gray;
    }
}

.presentacion-intro {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 16rem;
    margin-right: 16rem;
    width: 100%;
    align-items: center;
}

.img-intro {
    justify-items: center;
    align-items: center;
    width: 70%;
}

.img-intro-presentacion {
    border-radius: 40% 20% 10% 30%;
    align-items: center;
    justify-content: center;
    margin-left: 20rem;
    margin-bottom: 8rem;
}

.button {
    display: flex;
    align-items: center;
    background-color: rgba(102, 51, 153, 0);
    text-align: center;
}

.button-intro {
    align-content: center;
    text-align: center;
}

.btn-intro {
    align-items: center;
    background-color: rgb(20, 56, 3);
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    margin-left: 40rem;
    margin-bottom: 3rem;
    box-shadow: 0.5rem 0.5rem 0 0 rgb(135, 135, 135);
}
.btn-intro:hover{
    background-color: rgb(232, 229, 229);
    color: rgb(7, 51, 3);   
    box-shadow: 0.5rem 0.5rem 0 0 black;
    font-size: 2.5rem;
}