.intro {
    width: 100%;
    height: screen;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    display: flex;
    flex-direction: column;
}

.div-intro {
    align-items: center;
    margin-left: 1rem;
}

.title-intro {
    text-align: center;
    font-family: 'Roboto';
    font-size: 6.5rem;
    animation: moveLeft 3s infinite alternate;
}

@keyframes moveLeft {
    from {
        transform: translateX(150px);
        color: white;
    }
    to {
        transform: translateY(-5px);
        color: gray;
    }
}

.presentacion-intro {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 16rem;
    margin-right: 16rem;
    width: 100%;
    align-items: center;
}

.img-intro {
    justify-content: center;
    align-items: center;
    width: 70%;
}

.img-intro-presentacion {
    border-radius: 40% 20% 10% 30%;
}