.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 4rem;
}

.div-logo {
    width: 10%;
    justify-content: left;
}

.img-logo {
    width: 20%;
    transition: transform 0.2s;
}

.img-logo:hover{
    transform: scale(1.5);
}

.text-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.text {
    padding: 2%;
    margin: 2%;
    color: white;
    font-size: 4rem;
}

.text:hover{
    color: black;
}

.enlaces{
    display: flex;
    width: 20%;
    flex-direction: row;
    justify-items: left;
    justify-content: center;
    text-align: left;
    text-decoration: none;
    margin-right: 1rem;
}

.enlace{
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
}
.enlace:hover{
    background-color: white;
    padding: 1rem;
    color: black;
}

@media (max-width: 600px) {
    .navBar {
        flex-direction: column;
    }

    .div-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .div-logo {
        width: 100%;
        justify-content: center;
    }

    .img-logo {
        width: 30%;
    }

    .enlaces-navbar {
        width: 100%;
        justify-content: space-around;
    }

    .a-navbar {
        font-size: 1rem;
    }
}