.navBar {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 4rem;
    background-color: rgba(105, 5, 155, 0.418);
}

.div-logo {
    width: 20%;
    margin-left: 1rem;
    justify-content: left;
}

.img-logo {
    width: 20%;
    transition: transform 0.2s;
}

.img-logo:hover {
    transform: scale(1.5);
}

.text-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text {

    color: white;
    font-size: 3rem;
    text-decoration: none;
}

.text:hover {
    color: rgb(130, 130, 130);
}

.enlaces {
    display: flex;
    width: 20%;
    flex-direction: row;
    justify-items: left;
    justify-content: center;
    text-align: left;
    text-decoration: none;
    margin-right: 1rem;
}

.enlace {
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
}

.enlace:hover {
    background-color: rgba(130, 130, 130, 0.708);
    padding: 1rem;
    color: rgb(51, 2, 80);
}

@media screen and (max-width: 1080px){
    .navBar {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: rgba(2, 8, 77, 0.396);
    }

    .div-navbar {
        align-items: center;
    }

    .div-logo {
        width: 40%;
        justify-content: center;
    }

    .img-logo {
        width: 40%;
        margin-top: 1rem;
        justify-content: center;
    }
.text{
    font-size: 2rem;
}
    .enlaces {
        width: 100%;
        justify-content: center;
    }

    .enlace {
        font-size: 1.5rem;
    }
    .enlace:hover{
        color: rgb(12, 54, 2);
    }
}
@media screen and (max-width: 600px) {
    .navBar {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: rgba(33, 97, 3, 0.542);
    }

    .div-navbar {
        align-items: center;
    }

    .div-logo {
        width: 40%;
        justify-content: center;
    }

    .img-logo {
        width: 40%;
        margin-top: 1rem;
        justify-content: center;
    }
.text{
    font-size: 2rem;
}
    .enlaces {
        width: 100%;
        justify-content: center;
    }

    .enlace {
        font-size: 1.5rem;
    }
    .enlace:hover{
        color: rgb(12, 54, 2);
    }
}