.titleGral-proyect {
    text-align: center;
    font-size: 5rem;
    font-family: 'Roboto';
    color: white;
}

.div-proyect {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
    color: white;
    text-align: center;
}

.card-proyect {
    justify-content: space-between;
    width: 20%;
    margin: 1rem;
    background-color: rgba(128, 128, 128, 0.414);
    padding: 1rem;
    text-align: center;
    border-radius: 4rem;
}

.date-proyect {
    font-size: 1rem;
    text-align: center;
}

.img-proyect {
    width: 100%;
    margin: 0;
    height: 20rem;
    border-radius: 4rem 4rem 0 0;
}

.title-proyect {
    font-size: 2.5rem;
    text-align: center;
}

.title-proyect:hover {
    color: white;
}

.description-proyect,
.thecnology-proyect,
.program-proyect {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.button-proyect {
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    color: white;
    background-color: rgba(105, 5, 155, 0.51);
}

.button-proyect:hover {
    color: rgb(105, 5, 155);
    background-color: rgba(218, 208, 208, 0.557);
    box-shadow: 0.25rem 0.25rem 0 0;
}
@media screen and (max-width: 1080px) {
    .titleGral-proyect {
        font-size: 2.5rem;
    }

    .div-proyect {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-proyect {
        justify-content: center;
        width: 40%;
    }

    .date-proyect {
        font-size: 0.5rem;
    }

    .title-proyect {
        font-size: 1.5rem;
    }

    .description-proyect,
    .thecnology-proyect,
    .program-proyect {
        font-size: 0.75rem;
    }

    .button-proyect {
        font-size: 0.5rem;
        background-color: rgba(2, 8, 77, 0.396);
    }

    .button-proyect:hover {
        color: rgba(2, 8, 77, 0.396);
        background-color: rgba(247, 242, 242, 0.557);
        box-shadow: 0;
    }
}
@media screen and (max-width: 600px) {
    .titleGral-proyect {
        font-size: 2.5rem;
    }

    .div-proyect {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-proyect {
        justify-content: center;
        width: 40%;
    }

    .date-proyect {
        font-size: 0.5rem;
    }

    .title-proyect {
        font-size: 1.5rem;
    }

    .description-proyect,
    .thecnology-proyect,
    .program-proyect {
        font-size: 0.75rem;
    }

    .button-proyect {
        font-size: 0.5rem;
        background-color: rgba(2, 8, 77, 0.396);
    }

    .button-proyect:hover {
        color: rgba(2, 8, 77, 0.396);
        background-color: rgba(247, 242, 242, 0.557);
        box-shadow: 0;
    }
}